Importing library and importing data

In [2]:
import pandas as pd

In [3]:
#Read the csv file to a pandas df
df = pd.read_csv("Data/survey_result_clean_renamed.csv")

Inital check of the data

In [4]:
#Look at the head of the data
df.head()

,Unnamed: 0,ResponseId,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,...,InteractOutsideOfImmediateTeam,KnowledgeSilo,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,SupportNewHiresOnboarding,LearnResourcesProvidedByEmp,GiveTimeToLearnNewSkill,ConvertedCompYearly
0,0,1,None of these,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,3,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40205.0
3,3,4,I am a developer by profession,"Employed, full-time",Fully remote,I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,215232.0
4,4,5,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;O...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.columns

Index(['Unnamed: 0', 'ResponseId', 'MainBranch', 'Employment', 'RemoteWork',
       'CodingActivities', 'EdLevel', 'LearnCode', 'LearnCodeOnline',
       'LearnCodeCoursesCert', 'YearsCode', 'YearsCodePro', 'DevType',
       'OrgSize', 'PurchaseInfluence', 'BuyNewTool', 'Country', 'Currency',
       'CompTotal', 'CompFreq', 'LanguageHaveWorkedWith',
       'LanguageWantToWorkWith', 'DatabaseHaveWorkedWith',
       'DatabaseWantToWorkWith', 'PlatformHaveWorkedWith',
       'PlatformWantToWorkWith', 'WebframeHaveWorkedWith',
       'WebframeWantToWorkWith', 'MiscTechHaveWorkedWith',
       'MiscTechWantToWorkWith', 'ToolsTechHaveWorkedWith',
       'ToolsTechWantToWorkWith', 'NEWCollabToolsHaveWorkedWith',
       'NEWCollabToolsWantToWorkWith', 'OpSysProfessional use',
       'OpSysPersonal use', 'VersionControlSystem', 'VCInteraction',
       'OfficeStackAsyncHaveWorkedWith', 'OfficeStackAsyncWantToWorkWith',
       'OfficeStackSyncHaveWorkedWith', 'OfficeStackSyncWantToWorkWith',
       'Blockchain', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'Age', 'Gender', 'Sexuality', 'Ethnicity', 'Accessibility',
       'TBranch', 'ICorPM', 'WorkExp', 'InteractOutsideTeam',
       'KnowledgeSiloPrevent', 'UpToDateOrgInfo', 'FindAnsW/Tools',
       'KnowHowToFindAns', 'AnsQWhichAlreadyAnsBefore', 'WaitForAnsRuinW/Flow',
       'NeedHelpOutsideOfImmediateTeam', 'InteractOutsideOfImmediateTeam',
       'KnowledgeSilo', 'TimeSearching', 'TimeAnswering', 'Onboarding',
       'ProfessionalTech', 'SupportNewHiresOnboarding',
       'LearnResourcesProvidedByEmp', 'GiveTimeToLearnNewSkill',
       'ConvertedCompYearly'],
      dtype='object')

Analysing languages have worked with column

In [6]:
df["LanguageHaveWorkedWith"].head()

0                                            NaN
1                          JavaScript;TypeScript
2              C#;C++;HTML/CSS;JavaScript;Python
3                   C#;JavaScript;SQL;TypeScript
4    C#;HTML/CSS;JavaScript;SQL;Swift;TypeScript
Name: LanguageHaveWorkedWith, dtype: object

In [7]:
df["LanguageHaveWorkedWith"].value_counts()

HTML/CSS;JavaScript;TypeScript                                                              1250
Python                                                                                       962
HTML/CSS;JavaScript                                                                          914
HTML/CSS;JavaScript;PHP;SQL                                                                  745
C#;HTML/CSS;JavaScript;SQL;TypeScript                                                        570
                                                                                            ...
C#;Java;JavaScript;PHP;PowerShell;SQL;TypeScript                                               1
C++;HTML/CSS;JavaScript;Python;Solidity;SQL                                                    1
Dart;Haskell;HTML/CSS;Java;R;SQL;TypeScript                                                    1
Bash/Shell;C;C#;Go;HTML/CSS;Java;JavaScript;Lua;Perl;PHP;Python;Ruby;Rust;SQL;TypeScript       1
C#;JavaScript;Lua;PowerShell;SQL;TypeScript                                                    1
Name: LanguageHaveWorkedWith, Length: 25068, dtype: int64

In [8]:
#Assigning a test variable, will attempt to split all the values
test = df.loc[7, "LanguageHaveWorkedWith"]

In [9]:
#Viewing 
test = test.split(";")

In [10]:
#Checking that the test worked
test

['C', 'C++', 'HTML/CSS', 'Java', 'JavaScript', 'SQL']

In [11]:
#Viewing type of data structure formed from string split method
type(test)

list

In [12]:
#Split each row of LanguageWorkedWithColumn into individual programming languages & creating a new dataframe
LanguageHaveWorkWith = df["LanguageHaveWorkedWith"].str.split(";", expand=True)

In [13]:
#Checking new df head to see if correct output
LanguageHaveWorkWith.head()

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,JavaScript,TypeScript,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,C#,C++,HTML/CSS,JavaScript,Python,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,C#,JavaScript,SQL,TypeScript,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,C#,HTML/CSS,JavaScript,SQL,Swift,TypeScript,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [14]:
#Check which data, see how many responses per column
LanguageHaveWorkWith.isnull().sum()

0      2293
1      6800
2     14484
3     24676
4     35709
5     46047
6     54332
7     60459
8     64702
9     67660
10    69578
11    70797
12    71641
13    72200
14    72549
15    72775
16    72923
17    73023
18    73073
19    73113
20    73138
21    73161
22    73179
23    73185
24    73194
25    73201
26    73205
27    73208
28    73211
29    73211
30    73215
31    73216
32    73218
33    73222
34    73222
35    73224
36    73227
37    73228
38    73229
39    73231
40    73234
41    73242
dtype: int64

In [15]:
rows_to_drop = []  # List to store indices of rows to be dropped

# Iterate through rows and identify rows with NaN values in the first column
for i, row in LanguageHaveWorkWith.iterrows():
    cell_val = row.iloc[0]  # Access the value of the first column
    if pd.isna(cell_val):
        rows_to_drop.append(i)

# Drop the identified rows
LanguageHaveWorkWith.drop(rows_to_drop, inplace=True)

In [16]:
LanguageHaveWorkWith.head()

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
1,JavaScript,TypeScript,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,C#,C++,HTML/CSS,JavaScript,Python,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,C#,JavaScript,SQL,TypeScript,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,C#,HTML/CSS,JavaScript,SQL,Swift,TypeScript,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
5,C++,Lua,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [17]:
LanguageHaveWorkWith.isnull().sum()

0         0
1      4507
2     12191
3     22383
4     33416
5     43754
6     52039
7     58166
8     62409
9     65367
10    67285
11    68504
12    69348
13    69907
14    70256
15    70482
16    70630
17    70730
18    70780
19    70820
20    70845
21    70868
22    70886
23    70892
24    70901
25    70908
26    70912
27    70915
28    70918
29    70918
30    70922
31    70923
32    70925
33    70929
34    70929
35    70931
36    70934
37    70935
38    70936
39    70938
40    70941
41    70949
dtype: int64

In [18]:
#Removing columns 20 --> due to unlikeliness of devs using this many tools and being proficient.
for i in range (20, 42, 1):
    LanguageHaveWorkWith.drop(i, axis=1, inplace=True)

In [19]:
LanguageHaveWorkWith

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
1,JavaScript,TypeScript,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,C#,C++,HTML/CSS,JavaScript,Python,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,C#,JavaScript,SQL,TypeScript,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4,C#,HTML/CSS,JavaScript,SQL,Swift,TypeScript,None,None,None,None,None,None,None,None,None,None,None,None,None,None
5,C++,Lua,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73263,Bash/Shell,Dart,JavaScript,PHP,Python,SQL,TypeScript,None,None,None,None,None,None,None,None,None,None,None,None,None
73264,Bash/Shell,HTML/CSS,JavaScript,Python,SQL,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
73265,HTML/CSS,JavaScript,PHP,Python,SQL,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
73266,C#,Delphi,VBA,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
73267,C#,JavaScript,Lua,PowerShell,SQL,TypeScript,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [20]:
LanguageHaveWorkWith_series = LanguageHaveWorkWith.stack()

In [21]:
LanguageHaveWorkWith_series = LanguageHaveWorkWith_series.value_counts()

In [22]:
#Exporting the data to a csv
LanguageHaveWorkWith_series.to_csv("Programming_Dev_Use.csv")

Carry out the same as I did with what languages devs use to what languages they want to use

In [23]:
LanguageWantToWork = df["LanguageWantToWorkWith"].str.split(";", expand=True)

In [24]:
LanguageWantToWork.value_counts()

0    1         2           3  4   5    6        7      8        9     10      11      12      13  14       15  16      17       18        19    20          21     22      23    24   25      26     27           28    29   30          31      32  33    34    35   36     37        38   39     40          41
APL  Assembly  Bash/Shell  C  C#  C++  Clojure  COBOL  Crystal  Dart  Delphi  Elixir  Erlang  F#  Fortran  Go  Groovy  Haskell  HTML/CSS  Java  JavaScript  Julia  Kotlin  LISP  Lua  MATLAB  OCaml  Objective-C  Perl  PHP  PowerShell  Python  R   Ruby  Rust  SAS  Scala  Solidity  SQL  Swift  TypeScript  VBA    27
dtype: int64

In [25]:
rows_to_drop = []  # List to store indices of rows to be dropped

# Iterate through rows and identify rows with NaN values in the first column
for i, row in LanguageWantToWork.iterrows():
    cell_val = row.iloc[0]  # Access the value of the first column
    if pd.isna(cell_val):
        rows_to_drop.append(i)

# Drop the identified rows
LanguageWantToWork.drop(rows_to_drop, inplace=True)

In [26]:
LanguageWantToWork.head()

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
1,Rust,TypeScript,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,C#,C++,HTML/CSS,JavaScript,TypeScript,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,C#,SQL,TypeScript,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,C#,Elixir,F#,Go,JavaScript,Rust,TypeScript,None,None,None,...,None,None,None,None,None,None,None,None,None,None
5,Lua,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [27]:
LanguageWantToWork.isnull().sum()

0         0
1      6599
2     16034
3     27348
4     38110
5     47231
6     54149
7     58737
8     61691
9     63537
10    64737
11    65526
12    65986
13    66308
14    66490
15    66634
16    66726
17    66789
18    66832
19    66865
20    66880
21    66898
22    66908
23    66916
24    66919
25    66922
26    66924
27    66930
28    66938
29    66943
30    66951
31    66955
32    66961
33    66963
34    66965
35    66968
36    66969
37    66973
38    66976
39    66984
40    66989
41    67000
dtype: int64

In [28]:
for i in range (10, 42, 1):
    LanguageWantToWork.drop(i, axis=1, inplace=True)

In [29]:
LanguageWantToWork_series = LanguageWantToWork.stack()
LanguageWantToWork_series = LanguageWantToWork_series.value_counts()

In [30]:
LanguageWantToWork_series.to_csv("Programming_Dev_Want_To_Learn.csv")

In [31]:
df.columns

Index(['Unnamed: 0', 'ResponseId', 'MainBranch', 'Employment', 'RemoteWork',
       'CodingActivities', 'EdLevel', 'LearnCode', 'LearnCodeOnline',
       'LearnCodeCoursesCert', 'YearsCode', 'YearsCodePro', 'DevType',
       'OrgSize', 'PurchaseInfluence', 'BuyNewTool', 'Country', 'Currency',
       'CompTotal', 'CompFreq', 'LanguageHaveWorkedWith',
       'LanguageWantToWorkWith', 'DatabaseHaveWorkedWith',
       'DatabaseWantToWorkWith', 'PlatformHaveWorkedWith',
       'PlatformWantToWorkWith', 'WebframeHaveWorkedWith',
       'WebframeWantToWorkWith', 'MiscTechHaveWorkedWith',
       'MiscTechWantToWorkWith', 'ToolsTechHaveWorkedWith',
       'ToolsTechWantToWorkWith', 'NEWCollabToolsHaveWorkedWith',
       'NEWCollabToolsWantToWorkWith', 'OpSysProfessional use',
       'OpSysPersonal use', 'VersionControlSystem', 'VCInteraction',
       'OfficeStackAsyncHaveWorkedWith', 'OfficeStackAsyncWantToWorkWith',
       'OfficeStackSyncHaveWorkedWith', 'OfficeStackSyncWantToWorkWith',
       'Blockchain', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'Age', 'Gender', 'Sexuality', 'Ethnicity', 'Accessibility',
       'TBranch', 'ICorPM', 'WorkExp', 'InteractOutsideTeam',
       'KnowledgeSiloPrevent', 'UpToDateOrgInfo', 'FindAnsW/Tools',
       'KnowHowToFindAns', 'AnsQWhichAlreadyAnsBefore', 'WaitForAnsRuinW/Flow',
       'NeedHelpOutsideOfImmediateTeam', 'InteractOutsideOfImmediateTeam',
       'KnowledgeSilo', 'TimeSearching', 'TimeAnswering', 'Onboarding',
       'ProfessionalTech', 'SupportNewHiresOnboarding',
       'LearnResourcesProvidedByEmp', 'GiveTimeToLearnNewSkill',
       'ConvertedCompYearly'],
      dtype='object')

Calculating what databases devs have and want to work with

In [32]:
DatabaseHaveWorked = df["DatabaseHaveWorkedWith"].str.split(";", expand=True)

In [33]:
rows_to_drop = []  # List to store indices of rows to be dropped

# Iterate through rows and identify rows with NaN values in the first column
for i, row in DatabaseHaveWorked.iterrows():
    cell_val = row.iloc[0]  # Access the value of the first column
    if pd.isna(cell_val):
        rows_to_drop.append(i)

# Drop the identified rows
DatabaseHaveWorked.drop(rows_to_drop, inplace=True)

In [34]:
DatabaseHaveWorked.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
2,Microsoft SQL Server,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,Microsoft SQL Server,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4,Cloud Firestore,Elasticsearch,Microsoft SQL Server,Firebase Realtime Database,None,None,None,None,None,None,None,None,None,None,None,None,None
6,Cloud Firestore,MongoDB,Firebase Realtime Database,None,None,None,None,None,None,None,None,None,None,None,None,None,None
7,MongoDB,MySQL,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [35]:
DatabaseHaveWorked.isnull().sum()

0         0
1     16923
2     32155
3     43499
4     50786
5     55143
6     57611
7     58853
8     59478
9     59792
10    59936
11    60011
12    60051
13    60065
14    60071
15    60074
16    60084
dtype: int64

In [36]:
for i in range (8, 17, 1):
    DatabaseHaveWorked.drop(i, axis=1, inplace=True)

In [37]:
DatabaseHaveWorked_series = DatabaseHaveWorked.stack()
DatabaseHaveWorked_series = DatabaseHaveWorked_series.value_counts()

In [38]:
DatabaseHaveWorked_series.to_csv("DatabasesUsed.csv")

In [39]:
DatabaseHaveWorked_series.head()

MySQL                   28455
PostgreSQL              26379
SQLite                  18916
MongoDB                 17175
Microsoft SQL Server    16313
dtype: int64

In [40]:
DatabaseWantToWork = df["DatabaseWantToWorkWith"].str.split(";", expand=True)

In [41]:
rows_to_drop = []  # List to store indices of rows to be dropped

# Iterate through rows and identify rows with NaN values in the first column
for i, row in DatabaseWantToWork.iterrows():
    cell_val = row.iloc[0]  # Access the value of the first column
    if pd.isna(cell_val):
        rows_to_drop.append(i)

# Drop the identified rows
DatabaseWantToWork.drop(rows_to_drop, inplace=True)

In [42]:
DatabaseWantToWork.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
2,Microsoft SQL Server,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,Microsoft SQL Server,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4,Cloud Firestore,Elasticsearch,Firebase Realtime Database,Redis,None,None,None,None,None,None,None,None,None,None,None,None,None
6,MySQL,Oracle,PostgreSQL,None,None,None,None,None,None,None,None,None,None,None,None,None,None
7,Neo4j,PostgreSQL,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [43]:
DatabaseWantToWork.isnull().sum()

0         0
1     14266
2     27690
3     37489
4     43581
5     47069
6     48965
7     49886
8     50407
9     50663
10    50786
11    50877
12    50925
13    50939
14    50950
15    50956
16    50967
dtype: int64

In [44]:
for i in range (8, 17, 1):
    DatabaseWantToWork.drop(i, axis=1, inplace=True)

In [45]:
DatabaseWantToWork_series = DatabaseWantToWork.stack()
DatabaseWantToWork_series = DatabaseWantToWork_series.value_counts()

In [46]:
DatabaseWantToWork_series.head()

PostgreSQL    25014
MongoDB       17224
MySQL         16188
Redis         15838
SQLite        13618
dtype: int64

In [47]:
DatabaseWantToWork_series.to_csv("DatabasesWantToLearn.csv")

Calculating the fraction of people who use / want to learn a technology

In [49]:
#List of all variables id need, number corresponds to the number of people who answered the q on survey
LanguageHaveWorkWith_ans = 70845
LanguageWantToWork_ans = 64737
DatabaseHaveWorked_ans = 59473
DatabaseWantToWork_ans = 50407

In [50]:
#Convert all the series to a dataframe
LanguageWantToWork = LanguageWantToWork_series.to_frame()
LanguageHaveWorkWith = LanguageHaveWorkWith_series.to_frame()
DatabaseHaveWorked = DatabaseHaveWorked_series.to_frame()
DatabaseWantToWork = DatabaseWantToWork_series.to_frame()

In [62]:
fractions = []
for index, row in LanguageHaveWorkWith.iterrows():
    value = row[0]
    fraction = value / LanguageHaveWorkWith_ans
    fractions.append(fraction)
LanguageHaveWorkWith['Fraction_of_people'] = fractions

In [63]:
LanguageHaveWorkWith

                 0  Fraction_of_people
JavaScript   46409            0.655078
HTML/CSS     39142            0.552502
SQL          35044            0.494657
Python       34093            0.481234
TypeScript   24640            0.347802
Java         23644            0.333743
Bash/Shell   20656            0.291566
C#           19883            0.280655
C++          16024            0.226184
PHP          14772            0.208512
C            13692            0.193267
PowerShell    8519            0.120248
Go            7922            0.111822
Rust          6555            0.092526
Kotlin        6465            0.091256
Dart          4648            0.065608
Ruby          4236            0.059793
Assembly      3887            0.054866
Swift         3408            0.048105
R             3250            0.045875
VBA           3103            0.043800
MATLAB        2867            0.040469
Lua           2823            0.039848
Groovy        2357            0.033270
Delphi        2311            0.032621
Scala         1775            0.025055
Objective-C   1645            0.023220
Perl          1590            0.022443
Haskell       1577            0.022260
Elixir        1528            0.021568
Clojure       1070            0.015103
Julia         1046            0.014765
Solidity       977            0.013791
LISP           886            0.012506
F#             730            0.010304
Fortran        646            0.009118
Erlang         641            0.009048
APL            504            0.007114
COBOL          464            0.006550
SAS            384            0.005420
OCaml          373            0.005265
Crystal        340            0.004799

In [64]:
fractions = []
for index, row in LanguageWantToWork.iterrows():
    value = row[0]
    fraction = value / LanguageWantToWork_ans
    fractions.append(fraction)
LanguageWantToWork['Fraction_of_people'] = fractions

In [65]:
fractions = []
for index, row in DatabaseWantToWork.iterrows():
    value = row[0]
    fraction = value / DatabaseWantToWork_ans
    fractions.append(fraction)
DatabaseWantToWork['Fraction_of_people'] = fractions

In [66]:
fractions = []
for index, row in DatabaseHaveWorked.iterrows():
    value = row[0]
    fraction = value / DatabaseHaveWorked_ans
    fractions.append(fraction)
DatabaseHaveWorked['Fraction_of_people'] = fractions

In [67]:
LanguageWantToWork

                 0  Fraction_of_people
JavaScript   31409            0.485178
Python       28793            0.444769
HTML/CSS     25330            0.391275
TypeScript   24331            0.375844
SQL          23602            0.364583
Rust         16360            0.252715
C#           15681            0.242226
Go           15401            0.237901
Bash/Shell   13242            0.204551
Java         13236            0.204458
C++          11896            0.183759
Kotlin        9117            0.140831
C             7856            0.121353
PHP           7112            0.109860
Dart          6083            0.093965
Swift         4461            0.068910
PowerShell    4442            0.068616
Ruby          3531            0.054544
Elixir        3222            0.049771
Assembly      3046            0.047052
Haskell       2849            0.044009
R             2660            0.041089
Solidity      2328            0.035961
Lua           2201            0.033999
Scala         2167            0.033474
Julia         2092            0.032315
Clojure       1938            0.029937
F#            1858            0.028701
Delphi        1613            0.024916
Erlang        1145            0.017687
LISP          1096            0.016930
Groovy         936            0.014459
MATLAB         925            0.014289
Perl           772            0.011925
Objective-C    733            0.011323
VBA            708            0.010937
APL            608            0.009392
OCaml          595            0.009191
Crystal        510            0.007878
COBOL          346            0.005345
Fortran        344            0.005314
SAS            259            0.004001

In [68]:
LanguageWantToWork.to_csv("Programming_Dev_Want_To_Learn.csv")
LanguageHaveWorkWith.to_csv("Programming_Dev_Have_Use.csv")
DatabaseWantToWork.to_csv("Database_Dev_Want_To_Learn.csv")
DatabaseHaveWorked.to_csv("Database_Dev_Dev_Have_Use.csv")