Importing library and importing data

In [1]:
import pandas as pd

In [2]:
#Read the csv file to a pandas df
df = pd.read_csv("Data/survey_result_clean_renamed.csv")

Inital check of the data

In [3]:
#Look at the head of the data
df.head()

,Unnamed: 0,ResponseId,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,...,InteractOutsideOfImmediateTeam,KnowledgeSilo,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,SupportNewHiresOnboarding,LearnResourcesProvidedByEmp,GiveTimeToLearnNewSkill,ConvertedCompYearly
0,0,1,None of these,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,3,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40205.0
3,3,4,I am a developer by profession,"Employed, full-time",Fully remote,I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,215232.0
4,4,5,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;O...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.columns

Index(['Unnamed: 0', 'ResponseId', 'MainBranch', 'Employment', 'RemoteWork',
       'CodingActivities', 'EdLevel', 'LearnCode', 'LearnCodeOnline',
       'LearnCodeCoursesCert', 'YearsCode', 'YearsCodePro', 'DevType',
       'OrgSize', 'PurchaseInfluence', 'BuyNewTool', 'Country', 'Currency',
       'CompTotal', 'CompFreq', 'LanguageHaveWorkedWith',
       'LanguageWantToWorkWith', 'DatabaseHaveWorkedWith',
       'DatabaseWantToWorkWith', 'PlatformHaveWorkedWith',
       'PlatformWantToWorkWith', 'WebframeHaveWorkedWith',
       'WebframeWantToWorkWith', 'MiscTechHaveWorkedWith',
       'MiscTechWantToWorkWith', 'ToolsTechHaveWorkedWith',
       'ToolsTechWantToWorkWith', 'NEWCollabToolsHaveWorkedWith',
       'NEWCollabToolsWantToWorkWith', 'OpSysProfessional use',
       'OpSysPersonal use', 'VersionControlSystem', 'VCInteraction',
       'OfficeStackAsyncHaveWorkedWith', 'OfficeStackAsyncWantToWorkWith',
       'OfficeStackSyncHaveWorkedWith', 'OfficeStackSyncWantToWorkWith',
       'Blockchain', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'Age', 'Gender', 'Sexuality', 'Ethnicity', 'Accessibility',
       'TBranch', 'ICorPM', 'WorkExp', 'InteractOutsideTeam',
       'KnowledgeSiloPrevent', 'UpToDateOrgInfo', 'FindAnsW/Tools',
       'KnowHowToFindAns', 'AnsQWhichAlreadyAnsBefore', 'WaitForAnsRuinW/Flow',
       'NeedHelpOutsideOfImmediateTeam', 'InteractOutsideOfImmediateTeam',
       'KnowledgeSilo', 'TimeSearching', 'TimeAnswering', 'Onboarding',
       'ProfessionalTech', 'SupportNewHiresOnboarding',
       'LearnResourcesProvidedByEmp', 'GiveTimeToLearnNewSkill',
       'ConvertedCompYearly'],
      dtype='object')

Analysing languages have worked with column

In [5]:
df["LanguageHaveWorkedWith"].head()

0                                            NaN
1                          JavaScript;TypeScript
2              C#;C++;HTML/CSS;JavaScript;Python
3                   C#;JavaScript;SQL;TypeScript
4    C#;HTML/CSS;JavaScript;SQL;Swift;TypeScript
Name: LanguageHaveWorkedWith, dtype: object

In [6]:
df["LanguageHaveWorkedWith"].value_counts()

HTML/CSS;JavaScript;TypeScript                                                              1250
Python                                                                                       962
HTML/CSS;JavaScript                                                                          914
HTML/CSS;JavaScript;PHP;SQL                                                                  745
C#;HTML/CSS;JavaScript;SQL;TypeScript                                                        570
                                                                                            ...
C#;Java;JavaScript;PHP;PowerShell;SQL;TypeScript                                               1
C++;HTML/CSS;JavaScript;Python;Solidity;SQL                                                    1
Dart;Haskell;HTML/CSS;Java;R;SQL;TypeScript                                                    1
Bash/Shell;C;C#;Go;HTML/CSS;Java;JavaScript;Lua;Perl;PHP;Python;Ruby;Rust;SQL;TypeScript       1
C#;JavaScript;Lua;PowerShell;SQL;TypeScript                                                    1
Name: LanguageHaveWorkedWith, Length: 25068, dtype: int64

In [8]:
#Assigning a test variable, will attempt to split all the values
test = df.loc[7, "LanguageHaveWorkedWith"]

In [9]:
#Viewing 
test = test.split(";")

In [10]:
#Checking that the test worked
test

['C', 'C++', 'HTML/CSS', 'Java', 'JavaScript', 'SQL']

In [11]:
#Viewing type of data structure formed from string split method
type(test)

list

In [12]:
#Split each row of LanguageWorkedWithColumn into individual programming languages & creating a new dataframe
split_data = df["LanguageHaveWorkedWith"].str.split(";", expand=True)

In [13]:
#Checking new df head to see if correct output
split_data.head()

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,JavaScript,TypeScript,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,C#,C++,HTML/CSS,JavaScript,Python,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,C#,JavaScript,SQL,TypeScript,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,C#,HTML/CSS,JavaScript,SQL,Swift,TypeScript,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [14]:
#Check which data, see how many responses per column
split_data.isnull().sum()

0      2293
1      6800
2     14484
3     24676
4     35709
5     46047
6     54332
7     60459
8     64702
9     67660
10    69578
11    70797
12    71641
13    72200
14    72549
15    72775
16    72923
17    73023
18    73073
19    73113
20    73138
21    73161
22    73179
23    73185
24    73194
25    73201
26    73205
27    73208
28    73211
29    73211
30    73215
31    73216
32    73218
33    73222
34    73222
35    73224
36    73227
37    73228
38    73229
39    73231
40    73234
41    73242
dtype: int64

In [15]:
rows_to_drop = []  # List to store indices of rows to be dropped

# Iterate through rows and identify rows with NaN values in the first column
for i, row in split_data.iterrows():
    cell_val = row.iloc[0]  # Access the value of the first column
    if pd.isna(cell_val):
        rows_to_drop.append(i)

# Drop the identified rows
split_data.drop(rows_to_drop, inplace=True)

In [16]:
split_data.head()

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
1,JavaScript,TypeScript,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,C#,C++,HTML/CSS,JavaScript,Python,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,C#,JavaScript,SQL,TypeScript,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,C#,HTML/CSS,JavaScript,SQL,Swift,TypeScript,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
5,C++,Lua,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [17]:
split_data.isnull().sum()

0         0
1      4507
2     12191
3     22383
4     33416
5     43754
6     52039
7     58166
8     62409
9     65367
10    67285
11    68504
12    69348
13    69907
14    70256
15    70482
16    70630
17    70730
18    70780
19    70820
20    70845
21    70868
22    70886
23    70892
24    70901
25    70908
26    70912
27    70915
28    70918
29    70918
30    70922
31    70923
32    70925
33    70929
34    70929
35    70931
36    70934
37    70935
38    70936
39    70938
40    70941
41    70949
dtype: int64

In [18]:
#Removing columns 20 --> due to unlikeliness of devs using this many tools and being proficient.
for i in range (20, 42, 1):
    split_data.drop(i, axis=1, inplace=True)

In [19]:
split_data

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
1,JavaScript,TypeScript,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,C#,C++,HTML/CSS,JavaScript,Python,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,C#,JavaScript,SQL,TypeScript,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4,C#,HTML/CSS,JavaScript,SQL,Swift,TypeScript,None,None,None,None,None,None,None,None,None,None,None,None,None,None
5,C++,Lua,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73263,Bash/Shell,Dart,JavaScript,PHP,Python,SQL,TypeScript,None,None,None,None,None,None,None,None,None,None,None,None,None
73264,Bash/Shell,HTML/CSS,JavaScript,Python,SQL,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
73265,HTML/CSS,JavaScript,PHP,Python,SQL,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
73266,C#,Delphi,VBA,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
73267,C#,JavaScript,Lua,PowerShell,SQL,TypeScript,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [20]:
df_series = split_data.stack()

In [22]:
df_series.value_counts()

JavaScript     46409
HTML/CSS       39142
SQL            35044
Python         34093
TypeScript     24640
Java           23644
Bash/Shell     20656
C#             19883
C++            16024
PHP            14772
C              13692
PowerShell      8519
Go              7922
Rust            6555
Kotlin          6465
Dart            4648
Ruby            4236
Assembly        3887
Swift           3408
R               3250
VBA             3103
MATLAB          2867
Lua             2823
Groovy          2357
Delphi          2311
Scala           1775
Objective-C     1645
Perl            1590
Haskell         1577
Elixir          1528
Clojure         1070
Julia           1046
Solidity         977
LISP             886
F#               730
Fortran          646
Erlang           641
APL              504
COBOL            464
SAS              384
OCaml            373
Crystal          340
dtype: int64